*, *::before, *::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

#root {
  --main-color: #9747FF;
  --main-bg-color: #FFFFFF;
  --secondary-bg-color: #F6F6F6;
  text-align: center;
  background-color: var(--secondary-bg-color);
}

.nav-container {
  display: flex;
  min-height: 80px;
  background-color: var(--main-bg-color);
  color: var(--main-color);
  align-items: center;
  justify-content: space-between;
  padding: 0px 25px;
}

.icon-container {
  display: flex;
}

.icon-container img {
  padding: 0px 20px;
}


