/* @import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap'); */

*, *::before, *::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

#root {
  --main-color: #9747FF;
  --main-bg-color: #FFFFFF;
  --secondary-bg-color: #F6F6F6;
  --bg-green: #04e042;
  text-align: center;
  background-color: var(--secondary-bg-color);
  font-family: sans-serif;
}
