.card-container {
  min-height: 400px;
  margin: 30px 125px -10px 205px;
  background-color: var(--main-bg-color);
  border-radius: 20px;
  filter: drop-shadow(0px 5px 4px gray);
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 100px 1fr;
}

.card-title {
  display: flex;
  color: var(--main-color);
  font-weight: 600;
  grid-column: 1 / 2;
  justify-content: center;
  align-self: flex-end;
  padding-bottom: 15px;
}

.typing-race-card {
  display: flex;
  grid-column: 1 / 2;
  justify-content: center;
}

.typing-race-title,
.shortcut-race-title,
.coming-soon-title {
  position: absolute;
  top: 50%;
  display: flex;
  grid-column: 1 / 2;
  grid-row: 2 / 3;
  color: var(--main-color);
  font-size: 18px;
  visibility: hidden;
}

.shortcut-race-title {
  grid-column: 2 / 3;
}


.shortcut-race-card {
  display: flex;
  grid-column: 2 / 3;
  justify-content: center;
}

.coming-soon-title {
  grid-column: 3 / 4;
}

.coming-soon-card {
  display: flex;
  grid-column: 3 / 4;
  justify-content: center;
}

.competition-card-svg {
  max-width: 65%;
}

.typing-race-card:hover,
.shortcut-race-card:hover,
.coming-soon-card:hover {
  transform: scale(1.1);
  opacity: .2;
  filter: grayscale(.5);
}

.typing-race-card:hover .typing-race-title,
.shortcut-race-card:hover .shortcut-race-title,
.coming-soon-card:hover .coming-soon-title{
  transform: scale(1.1);
  opacity: .2;
  filter: grayscale(.5);
  visibility: visible;
}