.lessons-card-container {
  display: grid;
  min-height: 800px;
  margin: 30px 125px -10px 205px;
  background-color: var(--main-bg-color);
  border-radius: 20px;
  filter: drop-shadow(0px 5px 4px gray);
  grid-template-rows: 2fr 4fr 4fr;
  grid-template-columns: 1fr 1fr 1fr;
  color: var(--main-color);
}

.lesson-title {
  margin-top: 20px;
  grid-column: 1 / 3;
  align-self: center;
  font-size: 42px;
}

.keyboard-container {
  grid-row: 2 / 3;
  grid-column: 1 / 3;
}

.text-container {
  grid-column: 3 / 4;
  grid-row: 2 / 4;
  text-align: justify;
  line-height: 1.5rem;
  margin: 20px;
}

.text-container h4{
  text-align: center;
  padding: 20px;
}

.text-container button {
  display: flex;
  margin: auto;
  padding: 10px 20px;
  border: none;
  background-color: var(--main-color);
  color: var(--main-bg-color);
}

.text-container button:active {
  transform: scale(.9);
}

 .custom-keyboard-style-les2 .les-2 .front{
  background-color: #FDFFB6;
}

