.card-container {
  min-height: 400px;
  margin: 30px 125px -10px 205px;
  background-color: var(--main-bg-color);
  border-radius: 20px;
  filter: drop-shadow(0px 5px 4px gray);
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 100px 1fr;
}

.card-title {
  display: flex;
  color: var(--main-color);
  font-weight: 600;
  grid-column: 1 / 2;
  justify-content: center;
  align-self: flex-end;
  padding-bottom: 15px;
}

.cuac {
  display: flex;
  grid-column: 1 / 2;
  justify-content: center;
}

.competition-card-svg {
  max-width: 65%;
}