.side-bar-container.expanded {
  display: flex;
  align-items: flex-start;
  width: 200px;
  transition: width 0.3s ease;
  padding-left: 20px;
  color: var(--main-color);
  z-index: 20;
  box-shadow: 1px 5px 5px gray;
}

.side-bar-container {
  position: absolute;
  display: flex;
  flex-direction: column;
  width: 80px;
  min-height: calc(100vh - 80px);
  justify-content: space-between;
  padding: 20px 0px;
  background-color: var(--main-bg-color);
  transition: width 0.3s ease;
  min-height: 100%;
}

.side-bar-container img {
  width: 25px;
  padding: 15px 0px;
}

.side-bar-container img:hover {
  transform: scale(1.1);
  cursor: pointer;
}

.main-side-icon-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.main-side-icon-container.expanded {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.bottom-side-icon-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.bottom-side-icon-container.expanded {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.main-side-icon-container-expanded {
  display: flex;
  align-items: center;
}

.main-side-icon-container-expanded span {
  padding-left: 10px;
}
