.progress-bar-container {
  display: flex;
  min-height: 80px;
  min-width: 30px;
  background-color: var(--main-color);
  border-radius: 50px;
  margin: 5%;
  align-items: center;
  justify-content: center;
  max-width: 90%;
}