.sentence-box {
  padding: 40px;
  margin: 0 20px;
  margin-bottom: 90px;
  border: 3px solid var(--main-color);
  border-radius: 10px;
  box-shadow: inset 0 0 10px gray;
  overflow: hidden;
  overflow-x: scroll;
}

.sentence-box::-webkit-scrollbar {
  display: none;
}

.sentence-container {
  display: flex;
  align-items: center;
  justify-content: start;
}

.stats {
  padding: 5px;
}

.button {
  margin-top: 50px;
  color: var(--main-bg-color);
  background-color: var(--main-color);
  border: none;
  padding: 10px 30px;
}
