.multiplayer-card-container {
  display: grid;
  min-height: 800px;
  margin: 30px 125px -10px 205px;
  background-color: var(--main-bg-color);
  border-radius: 20px;
  filter: drop-shadow(0px 5px 4px gray);
  grid-template-rows: 2fr 4fr 4fr;
  grid-template-columns: 1fr 1fr 1fr;
  color: var(--main-color);
}

.multiplayer-title {
  grid-column: 2 / 3;
  align-self: center;
  font-size: 48px;
}

.player-title {

  font-size: 28px;
}

.player-one-container,
.player-two-container {
  grid-row: 2 / 3;
  margin: 10px;
}

.player-one-container {
  grid-column: 1 / 2;

}

.player-two-container {
  grid-column: 3 / 4;
}

.copy-link-title {
  grid-column: 2 / 3;
  grid-row: 2 / 3;
  align-self: center;
  font-size: 28px;
}

.player-one-container img {
  display: block;
  margin: auto;
  padding: 30px;
}

.player-two-container img {
  padding: 30px;
}

.countdown-container {
  grid-row: 3 / 3;
  grid-column: 2 / 3;
  margin: auto;
  animation: countdown 4s forwards 1s 1;
  min-width: 100px;
  font-size: 96px;
}

@keyframes countdown {
  0% {
    transform: scale(0);
    opacity: 0;
  }
  25% {
    transform: scale(1);
    opacity: 1;
  }
  75% {
    transform: scale(1);
    opacity: 1;
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}