#overlayBckgrnd {
  position: fixed;
  top: 0;
  background-color: rgba(0, 0, 0, .75);
  width: 100%;
  height: 100%;
  border-radius: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1;
}

#overlayContainer {
  color: white;
  background-color: var(--main-color);
  width: 60%;
  /* height: 35%; */
  padding: 5vh;
}

#overlayContainer h1 {
  margin-bottom: 2vh;
}

#overlayButton {
  font-size: 2vh;
  color: var(--main-color);
  background-color: white;
  border: 0;
  margin-top: 4vh;
  padding: 1vh 1vw;
}