
.keyboard,
.row {
  transform: scale(.8);
  max-width: 60vw;
}

.keyboard {
  background: #F6F6F6;
  padding: 40px 40px;
  border-radius: 25px;
  position: relative;
}

.row {
  display: flex;
  justify-content: center;
  gap: 12px;
}

.key {
  border: none;
  border-radius: 16px;
  color: var(--main-color);
  cursor: pointer;
  font-family: 'Inter', sans-serif;
  font-size: 1rem;
  font-weight: bold;
  max-width: 65px;
  padding: 2px 4px;
  position: relative;
  height: 4rem;
}

.front {
  display: flex;
  align-items: center;
  justify-content: center;
  text-transform: uppercase;
  background: white;
  border-radius: 12px;
  color: var(--main-color);
  min-height: 50px;
  min-width: 50px;
  margin: 0;
  padding: 0px;
  transform: translateY(-4px);
  will-change: transform;
  transition: transform 600ms cubic-bezier(.3, .7, .4, 1);
}

.utility .front {
  color: #868888;
  flex: auto;
}

.key:hover .front,
.key.physical-active .front {
  transform: translateY(-6px);
  transition:
    transform
    250ms
    cubic-bezier(.3, .7, .4, 1.5);
}

.key:active .front,
.key.physical-active .front {
  transform: translateY(-2px);
  transition: transform 34ms;
}

.key.index-finger.lesson-active .front {
  background-color: #FDFFB6; 
  animation: pulse 1s infinite;
}

.key.middle-finger.lesson-active .front {
  background-color: #FFD6A5; 
  animation: pulse 1s infinite;
}

.key.ring-finger.lesson-active .front {
  background-color: #FFADAD; 
  animation: pulse 1s infinite;
}

.key.little-finger.lesson-active .front {
  background-color: #DEDAF4; 
  animation: pulse 1s infinite;
}

@keyframes pulse {
  0% { transform: scale(1); }
  50% { transform: scale(1.1); }
  100% { transform: scale(1); }
}


@keyframes jiggle {
  0% { transform: translate(1px, 1px) rotate(0deg); }
  10% { transform: translate(-1px, 2px) rotate(-1deg); }
  20% { transform: translate(-3px, 0px) rotate(1deg); }
  30% { transform: translate(1px, 1px) rotate(2deg); }
  40% { transform: translate(-2px, -1px) rotate(-2deg); }
  50% { transform: translate(1px, 1px) rotate(-6deg); }
  60% { transform: translate(4px, -4px) rotate(6deg); }
  70% { transform: translate(1px, 1px) rotate(0deg); }
  80% { transform: translate(3px, -2px) rotate(-1deg); }
  90% { transform: translate(-1px, 1px) rotate(1deg); }
  100% { transform: translate(1px, 1px) rotate(-1deg); }
}


