.nav-container {
  display: flex;
  min-height: 80px;
  background-color: var(--main-bg-color);
  color: var(--main-color);
  align-items: center;
  justify-content: space-between;
  padding: 0px 25px;
}

.icon-container {
  display: flex;
}

.icon-container img, button {
  padding: 0px 20px;
}

.icon-container img:hover, button:hover {
  transform: scale(1.1);
  cursor: pointer;
}

.link {
  text-decoration: none;
  color: var(--main-color);
}

.sign-button:hover {
  cursor: pointer;
}

.sign-button {
  color: white;
  height: 30px;
  width: 90px;
  margin-left: 20px;
  background-color: var(--main-color);
  border: none;
  font-size: 14px;
  border-radius: 3px;
}

.user-profile-pic {
  text-decoration: none;
  font-size: xx-large;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  background-size: contain;
  width: 50px;
  height: 50px;
  border-radius: 30px;
  margin-left: 20px;
}
